SOLCOM_EMAIL=
SOLCOM_PASSWORD=
SOLCOM_BASE_URL=https://solcom-erp.vercel.app
SUPABASE_URL=https://pknkpvysiarfxvrhjqcx.supabase.co
SUPABASE_ANON_KEY=sb_publishable_Cl0OcY_9jV5dPYOmkRh72g_sY1R50Og
USE_PLAYWRIGHT=false
SCRAPE_SECRET=
